<!DOCTYPE html>
<html>
<head>
  <title>Curriculum Vitae</title>
</head>
<body>
  <h1>Curriculum Vitae</h1>

  <h2>General Information</h2>
  <p>Name: <%= @cv_data['general']['first_name'] %> <%= @cv_data['general']['last_name'] %></p>
  <p>Address: <%= @cv_data['general']['address'] %></p>
  <p>Birth Date: <%= @cv_data['general']['birth_date'] %></p>
  <p>Email: <%= @cv_data['general']['email'] %></p>
  <p>Phone: <%= @cv_data['general']['phone'] %></p>
  <p>Websites:</p>
  <ul>
    <% @cv_data['general']['websites'].each do |key, value| %>
      <li><%= key %>: <a href="<%= value %>"><%= value %></a></li>
    <% end %>
  </ul>

  <h2>Skills</h2>
  <ul>
    <% @cv_data['skills'].each do |skill| %>
      <li><%= skill %></li>
    <% end %>
  </ul>

  <h2>Other Skills</h2>
  <ul>
    <% @cv_data['other_skills'].each do |skill| %>
      <li><%= skill %></li>
    <% end %>
  </ul>

  <h2>Professional Experience</h2>
  <ul>
    <% @cv_data['jobs'].each do |job| %>
      <li><%= job['name'] %>, <%= job['interval'] %></li>
    <% end %>
  </ul>

  <h2>Education</h2>
  <ul>
    <% @cv_data['education'].each do |education| %>
      <li><%= education['name'] %>, <%= education['interval'] %></li>
    <% end %>
  </ul>

  <h2>Projects</h2>
  <ul>
    <% @cv_data['projects'].each do |project| %>
      <li><%= project %></li>
    <% end %>
  </ul>

</body>
</html>
